@charset "UTF-8";
@import "iconfont";

page {
  font: 30rpx "Microsoft Yahei", "Helvetica Neue","Aria";
  color: #495564;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  height: 100%;
}
.wx-image-upload{
  text-align: center;
  border:1rpx dashed #dcdee2;
}