@charset "UTF-8";
@import "iconfont";

page {
  font: 28rpx "Microsoft Yahei", "Helvetica Neue","Aria";
  color: #495564;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  height: 100%;
}
.marginT10{
  margin-top: 10rpx;
}
.marginT20{
  margin-top: 20rpx;
}
.marginB10{
  margin-bottom: 10rpx;
}
.marginB20{
  margin-bottom: 20rpx;
}
.wx-image-upload{
  text-align: center;
  border:1rpx dashed #dcdee2;
}