page{
  background: #F2F2F2;
}
.wx-user-head{
  background: #cccccc;
  overflow: hidden;
  .wx-user-info{
    text-align: center;
    background: #fff;
    margin: 80rpx 30rpx 20rpx 30rpx;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    border-radius: 10rpx;
    .user-thumb{
      width: 140rpx;
      height: 140rpx;
      border-radius: 50%;
      overflow: hidden;
      margin: 0rpx auto;
      border:6rpx solid #fff;
    }
    .user-name{
      height: 50rpx;
      line-height: 50rpx;
    }
  }
  .wx-user-wallet{
    top:-30rpx;
    position:relative;
    .wx-border-right{
      border-right: 1px solid #e8e8e8;
    }
  }
}
.wx-user-module{
  background: #fff;
  .wx-item{
    width: 25% !important;
    .wx-icon{
      text-align: center !important;
    }
  }
}
.wx-user-order{
  .wx-user-order-box{
    background: #fff;
    text-align: center;
    border-top:1px solid #eeee;
    padding:8rpx 0px 24rpx;
  }
}
.wx-address-list{
  .wx-address-item{
    background: #fff;
    padding: 10rpx 20rpx;
    border-bottom: 1px solid #e8e8e8;
    .wx-address-content{
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 10rpx;
      position: relative;
      .wx-address-user{
        height: 50rpx;
        line-height: 50rpx;
      }
      .wx-address-info{
        height: 50rpx;
        line-height: 50rpx;
        text-overflow: ellipsis;
        white-space:nowrap;
        overflow: hidden;
      }
      .wx-address-close{
        position: absolute;
        top: 0rpx;
        right: 0rpx;
      }
    }
    .wx-address-footer{
      height: 60rpx;
      line-height: 60rpx;
    }
  }
}
.wx-address-add{
  position: fixed;
  bottom: 0rpx;
  text-align: center;
  background: #fff;
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  box-shadow: 2px 2px 0px 2px rgba(0,0,0,.2);
  border-top: 1px solid #e8e8e8;
  color:#ec3a3e;
}
.wx-address-modal{
  .i-modal-body{
    margin-bottom: 0px !important;
  }
  .wx-modal-user{
    padding: 0px !important;
  }
  .address-item{
    border-bottom: 1rpx solid #e8e8e8;
    text-align: left;
  }
}